# Terraform state and variables
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/terraform.tfvars.json
terraform/functions.auto.tfvars.json

# Python cache
__pycache__/
*.pyc

# Docker artifacts
*.tar
